<ul class="navbar-nav bg-gradient-warning sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/admin/dashboard']">
        <div class="sidebar-brand-icon rotate-n-15">
            <!-- <i class="fas fa-user-shield"></i> -->
        </div>
        <div class="sidebar-brand-text mx-2">Slack Tour</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item {{pageActive=='dashboard'?'active':''}}">
        <a class="nav-link" [routerLink]="['/admin/dashboard']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span  style="font-weight: bold;">Trang chủ</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading"  style="font-weight: bold;font-size:medium ; color: #0044ff;">
        Quản lý
    </div>

    <li class="nav-item {{pageActive=='customer'?'active':''}}">
        <a class="nav-link" [routerLink]="['/admin/customer']">
            <i class="fas fa-user fa-chart-area"></i>
            <span style="font-weight: bold;">Khách hàng</span></a>
    </li>
    <li class="nav-item {{pageActive=='book'?'active':''}}">
        <a class="nav-link" [routerLink]="['/admin/book']">
            <i class="fas fa-shopping-bag fa-chart-area"></i>
            <span style="font-weight: bold;">Đặt chỗ</span></a>
    </li>
    <li class="nav-item {{pageActive=='tour'?'active':''}}">
        <a class="nav-link" [routerLink]="['/admin/tour']">
            <i class="fas fa-table fa-chart-area"></i>
            <span style="font-weight: bold;">Tour</span></a>
    </li>
    <li class="nav-item {{pageActive=='category'?'active':''}}">
        <a class="nav-link" [routerLink]="['/admin/category']">
            <i class="fas fa-table fa-chart-area"></i>
            <span style="font-weight: bold;">Loại tour</span></a>
    </li>

    <li class="nav-item {{pageActive=='rate'?'active':''}}">
        <a class="nav-link" [routerLink]="['/admin/rate']">
            <i class="fas fa-star-half-alt"></i>
            <span style="font-weight: bold;">Đánh giá của khách hàng</span></a>
    </li>

    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading"  style="font-weight: bold; font-size:medium ; color: #0044ff;">
        Thống kê
    </div>

    <!-- Nav Item - Charts -->
    <!-- <li class="nav-item {{pageActive=='category-best-seller'?'active':''}}">
        <a class="nav-link" [routerLink]="['/admin/statistical-category']">
            <i class="fas fa-fw fa-chart-area"></i>
            <span style="font-weight: bold;">Loại tour bán chạy</span></a>
    </li> -->

    <!-- Nav Item - Tables -->
    <li class="nav-item {{pageActive=='soldest'?'active':''}}">
        <a class="nav-link" [routerLink]="['/admin/soldest']">
            <i class="fas fa-fw fa-chart-area"></i>
            <span style="font-weight: bold;">Tour bán chạy</span></a>
    </li>

    <li class="nav-item {{pageActive=='inventory'?'active':''}}">
        <a class="nav-link" [routerLink]="['/admin/inventory']">
            <i class="fas fa-fw fa-chart-area"></i>
            <span style="font-weight: bold;">Tour còn chỗ</span></a>
    </li>

    
</ul>