<div class="ps-breadcrumb">
    <div class="ps-container">
        <ul class="breadcrumb">
            <li><a [routerLink]="['/home']">Trang chủ</a></li>
            <li><a [routerLink]="['/all-tour']">Tour du lịch</a></li>
            <li>Chi tiết tour du lịch</li>
        </ul>
    </div>
</div>
<div class="row" style="min-height: 700px !important;" *ngIf="isLoading">
    <div class="spinner-border text-success" role="status" style="margin: auto; width: 6em;height: 6em;"></div>
</div>
<div class="ps-page--product" *ngIf="!isLoading">
    <div class="ps-container">
        <div class="ps-page__container">
            <div class="ps-page__left">
                <div class="ps-product--detail ps-product--fullwidth">
                    <div class="ps-product__header">
                        <div class="ps-product__thumbnail">
                            <figure>
                                <div class="ps-wrapper">
                                    <div class="ps-product__gallery">
                                        <div class="item">
                                            <a href="#">
                                                <img [src]="tour.image" alt="">
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="ps-product__info">
                            <h1>{{tour.name}}</h1>
                            <div class="ps-product__desc" *ngIf="getAvgRate(tour.tourId)>0">
                                <ngb-rating [rate]="getAvgRate(tour.tourId)" [starTemplate]="t" [readonly]="true" [max]="5"
                                        title="{{getAvgRate(tour.tourId)}} sao">
                                </ngb-rating>
                                ({{countRate}} đánh giá)
                            </div>
                            <p class="ps-product__price sale">
                                <del *ngIf="tour.discount != 0">{{tour.price|currency:'VND'}}</del>
                                {{tour.price*(1 - tour.discount/100) | currency:'VND'}}
                            </p>
                            <div class="ps-product__desc">
                                <p>Thể loại:<a href="javascript:void(0);"><strong> {{tour.category.categoryName}}</strong></a></p>
                                <p style="text-decoration: underline;font-size: 16px;">Mô tả tour du lịch <strong> (Đã bán {{tour.sold}} tour du lịch):</strong></p>
                                <p>{{tour.description}}</p>
                            </div>
                            <div class="ps-product__shopping">
                                <a class="ps-btn ps-btn--black" [routerLink]="['/cart']" (click)="addCart(tour.tourId, tour.price*(1 - tour.discount/100))">Thêm Giỏ Hàng</a>
                                <a href="javascript:void(0);" class="ps-btn ps-btn--black" (click)="getTourImageList(tour.tourId)">Xem Gallery</a>
                                <div class="ps-product__actions">
                                    <a href="javascript:void(0);" (click)="toggleLike(tour.tourId)"><i style="color: #ffcc23;" class="icon-heart"></i></a> {{totalLike}} lượt thích
                                </div>
                            </div>
                            <div class="ps-product__sharing"><a class="facebook" href="#"><i class="fa fa-facebook"></i></a><a class="twitter" href="#"><i class="fa fa-twitter"></i></a><a class="google" href="#"><i class="fa fa-google-plus"></i></a><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>
                    </div>

                    <div >
                      <ul class="ps-tab-list">
                          <li class="active"><a href="javascript:void(0);">Mô tả tour du lịch</a></li>
                      </ul>
                      <div class="ps-tab active" id="tab-1">
                            <p>{{tour.description}}</p>
                      </div>
                  </div>
                    <div >
                        <ul class="ps-tab-list">
                            <li class="active"><a href="javascript:void(0);">Đánh giá tour du lịch</a></li>
                        </ul>
                        <div class="ps-tab active" id="tab-1">
                            <div class="table-responsive">
                                <p *ngIf="rates.length==0" style="text-decoration: underline;">Tour du lịch này chưa có đánh giá nào.</p>
                                <div class="row">
                                    <div class="col-10">
                                        <table class="table table-bordered ps-table ps-table--specification">
                                            <tbody>
                                                <tr *ngFor="let item of rates | paginate: { itemsPerPage: itemsComment, currentPage: 1}">
                                                    <td>
                                                        <a [href]="item.user.image">
                                                        <img [src]="item.user.image" alt="" /></a>
                                                    </td>
                                                    <td>
                                                        <h5>
                                                            Họ và Tên: <a>{{item.user.name}}</a><br>
                                                        </h5>
                                                        <h5>
                                                            Ngày: <span>{{item.rateDate|date:'dd-MM-yyyy'}}</span>
                                                        </h5>
                                                        <h5>
                                                            Đánh giá:
                                                            <ngb-rating class="ml-2" [(rate)]="item.rating"
                                                                title="{{item.rating}} sao" [starTemplate]="t" [readonly]="true" [max]="5">
                                                            </ngb-rating>
                                                        </h5>
                                                        <h5>
                                                            Nội dung :
                                                            <p style="color: #09c; font-size: 16px;">
                                                                {{item.comment}}
                                                            </p>
                                                        </h5>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-2" *ngIf="rates.length!=0">
                                        <div class="padding-right">
                                            <h5>Hiển thị: </h5>
                                            <select class="product-short-select custom-select ml-auto"
                                                style="font-size: 14px;"
                                                [(ngModel)]="itemsComment"
                                                (change)="setItemsComment(itemsComment)">
                                                <option selected value="3">3</option>
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="100">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ps-page__right">
                <aside class="widget widget_product widget_features">
                    <p><i class="icon-network"></i> Đi khắp mọi nơi: Chúng tôi sẽ đưa bạn đến bất kỳ điểm đến nào bạn mong muốn</p>
                    <p><i class="icon-3d-rotate"></i> Yên tâm khi đặt tour: Hoàn tiền nếu chuyến đi không như ý</p>
                    <p><i class="icon-receipt"></i> Minh bạch: Tất cả thông tin về tour đều được ghi rõ trong hóa đơn</p>
                    <p><i class="icon-credit-card"></i> Thanh toán dễ dàng: Chọn cách thức thanh toán phù hợp với bạn nhất</p>
                </aside>
                
            </div>
        </div>

        <div class="row" *ngIf="!isLoading">
            <div class="ps-section--default">
                <div class="ps-section__header" >
                    <h3>Tour du lịch liên quan</h3>
                </div>
                <div class="ps-section__content">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                        <div ngxSlickItem *ngFor="let item of tours | paginate: { itemsPerPage: 8, currentPage: 0}" class="slide" >
                            <div class="ps-product">
                                <div class="ps-product__thumbnail">
                                    <a href="javascript:void(0);">
                                        <img [src]="item.image" [routerLink]="['/tour-detail/'+item.tourId]" alt="" />
                                    </a>
                                    <div class="ps-product__badge">-{{item.discount}}%</div>
                                    <ul class="ps-product__actions">
                                        <li><a href="javascript:void(0);" (click)="addCart(item.tourId, item.price*(1 - item.discount/100))" data-toggle="tooltip" data-placement="top" title="Thêm Giỏ Hàng"><i class="icon-bag2"></i></a></li>
                                        <li><a [routerLink]="['/tour-detail/'+item.tourId]" data-toggle="tooltip" data-placement="top" title="Xem Chi Tiết"><i class="icon-eye"></i></a></li>
                                        <li><a href="javascript:void(0);" (click)="toggleLike(item.tourId)" data-toggle="tooltip" data-placement="top" title="Yêu Thích"><i class="icon-heart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="ps-product__container">
                                    <a class="ps-product__vendor" href="javascript:void(0);">
                                        <span> {{item.category.categoryName}}</span>
                                    </a>
                                    <div class="ps-product__content">
                                        <a class="ps-product__title" [routerLink]="['/tour-detail/'+item.tourId]">{{item.name}}</a>
                                        <div class="ps-product__desc" *ngIf="getAvgRate(item.tourId)>0">
                                            <ngb-rating [rate]="getAvgRate(item.tourId)" [starTemplate]="t" [readonly]="true" [max]="5"
                                                    title="{{getAvgRate(item.tourId)}} sao">
                                            </ngb-rating>
                                            ({{countRate}} đánh giá)
                                        </div>
                                        <p class="ps-product__price sale">
                                            <del *ngIf="item.discount != 0">{{item.price|currency:'VND'}}</del>
                                            {{item.price*(1 - item.discount/100) | currency:'VND'}}
                                        </p>
                                    </div>
                                    <div class="ps-product__content hover">
                                        <a class="ps-product__title" [routerLink]="['/tour-detail/'+item.tourId]">{{item.name}}</a>
                                        <div class="ps-product__desc" *ngIf="getAvgRate(item.tourId)>0">
                                            <ngb-rating [rate]="getAvgRate(item.tourId)" [starTemplate]="t" [readonly]="true" [max]="5"
                                                    title="{{getAvgRate(item.tourId)}} sao">
                                            </ngb-rating>
                                            ({{countRate}} đánh giá)
                                        </div>
                                        <p class="ps-product__price sale">
                                            <del *ngIf="item.discount != 0">{{item.price|currency:'VND'}}</del>
                                            {{item.price*(1 - item.discount/100) | currency:'VND'}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ps-newsletter">
    <div class="container">
        <form class="ps-form--newsletter">
            <div class="row">
                <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__left">
                        <h3>Bản tin</h3>
                        <p>Đăng ký để nhận thông tin về tour du lịch và phiếu giảm giá</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__right">
                        <div class="form-group--nest">
                            <input class="form-control" type="email" placeholder="Địa chỉ Email">
                            <button class="ps-btn">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- star -->
<ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100" style="font-size: 90%;">
        <span class="half" [style.width.%]="fill">
            <i class="fa fa-star"></i>
        </span>
        <i class="fa fa-star"></i>
    </span>
</ng-template>

<!-- Modal Gallery -->
<!-- <div class="modal fade" tabindex="-1" role="dialog" [ngClass]="{'show': isGalleryVisible}" style="display: block;" *ngIf="isGalleryVisible">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Gallery</h5>
          <button type="button" class="close" (click)="closeGallery()">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngFor="let imageUrl of tourImageList">
            <img [src]="imageUrl" alt="Tour Image" style="width: 100%; height: auto; margin-bottom: 10px;" />
          </div>
        </div>
      </div>
    </div>
  </div> -->
<div class="modal fade" tabindex="-1" role="dialog" [ngClass]="{'show': isGalleryVisible}" style="display: block;" *ngIf="isGalleryVisible">
  <div class="" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Images Gallery</h5>
        <button type="button" class="close" (click)="closeGallery()">
          <span style="font-size: 30px; font-weight: 100;">&times;</span>
        </button>
      </div>
      <div class="blurry">
        <div class="modal-body">
            <!-- Display the current image -->
            <div class="image-container">
              <img [src]="tourImageList[currentImageIndex]" alt="Tour Image" style="width: auto; height: 600px; margin-bottom: 10px;" />
            </div>
    
            <!-- Navigation buttons -->
            <div class="navigation-buttons">
                <button type="button" class="nav-btn prev-btn" (click)="previousImage()">
                  <span class="nav-arrow">‹</span>
                </button>
                <button type="button" class="nav-btn next-btn" (click)="nextImage()">
                  <span class="nav-arrow">›</span>
                </button>
              </div>
          </div>
      </div>
      
    </div>
  </div>
</div>