/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.datepicker-overlay {
    z-index: 1056 !important; /* This should be higher than the modal's z-index */
  }
  
  .cdk-overlay-container {
    z-index: 1056 !important;
  }